* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
    font-family: Poppins-Regular, sans-serif;
    background-image: url("https://goo.gl/images/BS3wLX");
}



form {
    overflow: hidden;
}

#root {
    text-align: center;
}

label{
    text-align: center;
    
}

textarea{
    text-align: center;

}