* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.contenedor-01 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #0250c5;
  background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
  background: -o-linear-gradient(bottom, #0250c5, #d43f8d);
  background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);
  background: linear-gradient(bottom, #0250c5, #d43f8d);
  position: relative;
  z-index: 1;
}